<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetJava"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreerCompteActivity">
        </activity>
        <activity
            android:name=".ListerJeuxActivity">
        </activity>
        <activity
            android:name=".AjouterJeuActivity">
        </activity>
        <activity
            android:name=".AjouterEvaluationActivity">
        </activity>
        <activity
            android:name=".ListerEvaluationActivity">
        </activity>
        <activity
            android:name=".AjouterCritiqueActivity">
        </activity>
        <activity
            android:name=".ListerJeuxATesterActivity">
        </activity>
        <activity
            android:name=".ListerEvaluationsSignaleesActivity">
        </activity>

        <activity
            android:name=".ListerJeuxJoueurActivity">
        </activity>
        <activity
            android:name=".ListerJoueursMeritants">
        </activity>
        <activity
            android:name=".AfficherInfoJoueurActivity">
        </activity>
        <activity
            android:name=".ListerUtilisateursActivity">
        </activity>
        <activity
            android:name=".ChoisirActionActivity">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>